.margentop {
  margin-top: 60px;
}

.bg-barraGris {
  background-color: #d8d8d8;
}

.bg-barraBlanca {
  background-color: #fff;
}

.fondoGris {
  padding-top: 100px;
  background-color: #212529;
  height: 1000px;
}
